/WaveGenAnalysis/bin/Debug/WaveGenAnalysis.pdb
/WaveGenAnalysis/bin/Debug/WaveGenAnalysis.vshost.exe
/WaveGenAnalysis/bin/Debug/WaveGenAnalysis.vshost.exe.config
/WaveGenAnalysis/bin/Debug/WaveGenAnalysis.vshost.exe.manifest
/WaveGenAnalysis/bin/Debug/WaveGenAnalysis.exe
/WaveGenAnalysis/bin/Debug/WaveGenAnalysis.exe.config
/WaveGenAnalysis/obj
/.vs
